@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
   
}

body{
    height: 100vh;
    background-color: #332f2f;
}

nav.menu-lateral{
    width: 70px;
    height: 100%;
    background-color: #202020;
    padding: 20px 0 40px 1%;
    box-shadow: 5px 0 0 #8C0000;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .4s;
}

nav.menu-lateral.expandir{
    width: 300px;
}

.btn-expandir{
    width: 100%;
    padding-left: 10px;
}

.btn-expandir > i{
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}

ul{
    height: 100%;
    list-style-type: none;
}

ul li.item-menu{
    transition: .4s;
}

ul li.ativo{
    background-color: #8C0000;
    margin-right: 3px;
    border-radius: 30px;
}

ul li.item-menu:hover{
    background: #8C0000;
    margin-right: 3px;
    border-radius: 30px;
}

ul li.item-menu a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    margin-top: 40px;
    margin-bottom: 80px;
    line-height: 60px;
}

ul li.item-menu a .txt-link{
    margin-left: 70px;
    transition: 1s;
    opacity: 0;
}

nav.menu-lateral.expandir .txt-link{
    margin-left: 40px;
    opacity: 1;
}

ul li.item-menu a .icon > i{
    font-size: 30px;
    margin-left: 10px;
}

.descricao{
    justify-content: center;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 2%;
    font-size: 20px;
    align-items: center;
    border: 1px solid #332f2f;
    border-radius: 20px;
    background-color: #919191;
    text-align: center;
}

.titulo{
    justify-content: center;
    align-items: center;
    display: flex;
    padding-bottom: 20px;
    font-weight: bold;
    color: black;
}

.separa{padding-bottom: 20px;}